//Colors
$grey-1: #F7F7F7;
$grey-2: #91A4AD;
$grey-3: #617D8A;
$grey-4: #3B4C54;

$text-color:       #111;
$background-color: $grey-1;
$brand-color:      #1893E7;
$brand-secondary: #FFBB66;


$grey-color:#828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
