.animated {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  .fadein {
    animation-name: fadeIn;
  }


  .fadeinup {
    animation-name: fadeInUp;
  }

  .fadeinright {
    animation-name: fadeInRight;
  }

  .rippleEffect {
    animation: rippleDrop .5s linear;
  }


@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}