.box1 {
	height: 100px;
	text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
* {
  box-sizing: border-box;
}

// body {
//   font-family: 'Lato', sans-serif;
//   background: #222;
// }
// 
.nav1 {

ul {
  font-size: 0;
  position: relative;
  padding: 0;
  width: 480px;
  margin: 40px auto;
  user-select: none;
}

li {
  display: inline-block;
  width: 160px;
  height: 60px;
  background: #5A5A5A;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: #E0E0E0;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #FF931E;
  transition: all 0.5s;
}
/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  border: 30px solid white;
  position: absolute;
  opacity: 1;
}
}

.rippleEffect {
  animation: rippleDrop 1s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
    border: 0px solid white;
  }
}